<div id="users">
  <section id="signup">
    <header>
      <h2>新規登録</h2>
    </header>
    <div class="container">
      <div class="inner">
        <div class="users-form">
          <form action="/signup" method="post">
            <div class="field">
              <label for="">ユーザー名</label>
              <input type="text" name="" value="">
            </div>

            <div class="field">
              <label for="">メールアドレス</label>
              <input type="text" name="" value="">
            </div>

            <div class="field">
              <label for="">パスワード</label>
              <input type="password" name="" value="">
            </div>

            <div class="field">
              <button class="button sassy-button">新規登録</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>