<div id="users">
  <section id="signin">
    <header>
      <h2>ログイン</h2>
    </header>
    <div class="container">
      <div class="inner">
        <div class="users-form">
          <form action="/signin" method="post">
            <div class="field">
              <label for="">メールアドレス or ユーザー名</label>
              <input type="text" name="" value="">
            </div>

            <div class="field">
              <label for="">パスワード</label>
              <input type="password" name="" value="">
            </div>

            <div class="field">
              <p class="right"><a href="">パスワードを忘れた方</a></p>
              <button class="button sassy-button">ログイン</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>