<nav class="main-nav" id="main-nav">
  <a href="/">Home</a>
  <% if !signed_in? %>
  <a href="/signup">新規登録</a>
  <a href="/signin">サインイン</a>
  <% else %>
  <a href="/<%= current_user.name%>">ポートフォリオ</a>
  <a href="/setting">Setting</a>
  <%= link_to "サインアウト", signout_path, method: "delete" %>
  <% end %>
</nav>