<nav class="main-nav" id="main-nav">
  <%# if params[:controller] == "users" && params[:action] == "show"  %>
  <a href="/">Home</a>
  <a href="#">Little</a>
  <a href="#">Piggy</a>
  <a href="#">Went</a>
  <a href="#">To</a>
  <a href="#">Market</a>
  <%# end %>
</nav>