


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass/utilities";
@import "compass/reset";
@import "compass/css3";
@import "sassy-buttons";
@import "blueprint/form";

@include global-reset;

body {
  background: #2F2F2F;
  font: {
    family: 'Lucida Grande', Arial, sans-serif;
    size: 12px;
  }
  height: 100%;
}

a { text-decoration: none; }
.main-panel {
  color: #fff;
  float: right;
  width: 100%;
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);

  h1 {
    font-size: 3.5em;
  }

  &:after{
    @include clearfix;
  }
}

.main-header {
  width: 100%;
  left: 0;
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);

  a.menu {
    margin-left: 20px;
    color: #333;
    font-size: 32px;
  }

  
}

.nav {
  float: left;
}

.brand {
  margin-left: 100px;
  font-size: 2.0em;
  a {
    text-decoration: none;
  }
}
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.inner {
  text-align: center;
}

.right {
  float: right;
}
.button {
  color: #fff;
  font-size: 20px;
  padding: 0.5em 1.5em;
  display: inline-block;
  width: auto;
  height: auto;
  @include border-radius(50px);
}
.sassy-button-blue {
  @include sassy-button-gradient("simple", #4d8ccd);
}
.sassy-button-green {
  @include sassy-button-gradient("glass", #8cbe5f);
}


.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow: hidden;
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);
  a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 20%;
}
#main-nav:target + .main-panel {
  width: 80%;
  .open-menu {
     display: none; 
  }
  .close-menu {
     display: block;
  }
  .main-header {
    width: 80%;
    left: 20%;
  }
}


form {
  @include blueprint-form-layout;
  @include blueprint-form-borders;
  @include blueprint-form-sizes;
}

.g-footer {
  @include single-box-shadow;
  border-top: 1px solid #121212;
  padding: 15px;
  &:after{
    @include clearfix;
  }
}